body {
  width: 330px;
  margin: 0;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  overflow: hidden;
}

#settings {
  cursor: pointer;
  color: #a0a0a0;
  position: absolute;
  top: 7px;
  right: 7px;
}

#paused-label {
  display: none;
}

#toggle-label {
  margin: 10px;
  font-size: 15px;
}

#options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.option {
  background: white;
  padding: 7px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid #ddd;
}

.option:hover {
  background: #f4f4f4;
}

#divider {
  width: 85%;
  height: 1px;
  background: #eee;
  margin: 20px auto;
}

#stats {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: flex-start;
  align-items: flex-end;
  column-gap: 4px;
}

#num-clicks {
  color: orange;
  font-weight: bold;
  font-size: 15px;
}

#clicks-intercepted-label {
  font-size: 15px;
}

#not-so-fast-header-container {
  display: inline-block;
}

#not-so-fast-logo {
  margin: 10px 10px 0 10px;
  float: left;
}

#not-so-fast-header {
  font-size: 20px;
  font-weight: 650;
  font-style: italic;
  float: left;
  height: 30px;
  line-height: 30px;
}